<div fxLayout="row" and fxLayoutAlign="center">
  <mat-tab-group>
    <mat-tab class="form-control" label="Detalhes">
      <mat-card>
        <mat-card-header class="form-control">Visualizar Ordem de Serviço</mat-card-header>
        <mat-card-content>
          <form #f="ngForm">
            <div flex="" layout="row" layout-padding="">
              <div flex="30" layout="column">
                <label class="label-detail-field" type="text">Nº OS</label>
                <br>
                <label class="label-detail-value">{{ordemdeservico.numeroOrdemDeServico}}</label>
              </div>
              <div flex="30" layout="column">
                <label class="label-detail-field" type="text">Nº Contrato</label>
                <br>
                <label class="label-detail-value">{{ordemdeservico?.contrato?.numeroContrato}}</label>
              </div>
              <div flex="30" layout="column">
                <label class="label-detail-field" type="text">Data Abertura</label>
                <br>
                <label class="label-detail-value">{{ordemdeservico.dataAbertura | date:'dd/MM/yyyy'}}</label>
              </div>
              <div flex="30" layout="column">
                <label class="label-detail-field" type="text">Data Previsão Conclusão</label>
                <br>
                <label class="label-detail-value">{{ordemdeservico.dataPrevisaoConclusao | date:'dd/MM/yyyy'}}</label>
              </div>
            </div>
            <mat-divider class="mat-divider"></mat-divider>
            <div flex="" layout="row" layout-padding="">
              <br>
              <div flex="50" layout="column">
                <label class="label-detail-field" type="text">Gestor</label>
                <br>
                <label class="label-detail-value">{{ordemdeservico?.gestor?.nome}}</label>
              </div>
              <div flex="30" layout="column">
                <label class="label-detail-field" type="text">Prioridade</label>
                <br>
                <label class="label-detail-value">{{ordemdeservico.prioridade}}</label>
              </div>
            </div>
            <div flex="" layout="row" layout-padding="">
              <div flex="50" layout="column">
                <label class="label-detail-field">Descrição do Problema</label>
                <label class="label-detail-value">{{ordemdeservico.descricaoProblema}}</label>
              </div>
              <div flex="50" layout="column">
                <label class="label-detail-field">Descrição da Solução</label>
                <label class="label-detail-value">{{ordemdeservico.descricaoSolucao}}</label>
              </div>
            </div>
            <div flex="" layout="row" layout-padding="">
              <div flex="80" layout="column">
                <label class="label-detail-field">Observação</label>
                <label class="label-detail-value">{{ordemdeservico.observacao}}</label>
              </div>
            </div>
            <div flex="" layout="row" layout-padding="">
              <div flex="80" layout="column">
                <label class="label-detail-field">Valor Ordem De Serviço</label>
                <label class="label-detail-value">{{ordemdeservico.valorOrdemDeServico | currency:'BRL':true:'1.2-2'}}</label>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab class="form-control" label="Histórico Ordem de Serviço">
      <mat-card>
        <mat-card-header>Visualizar Ordem de Serviço</mat-card-header>
        <mat-card-content>
            <table td-data-table>
                <thead>
                  <tr td-data-table-column-row>
                    <th td-data-table-column *ngFor="let column of configWidthColumns" [sortable]="column.sortable" [name]="column.name">
                      {{ column.label }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr td-data-table-row *ngFor="let historico of this.dataSource">
                    <td td-data-table-cell>{{ historico.data | date:'dd/MM/yyyy'}}</td>
                    <td td-data-table-cell>{{ historico.status }}</td>
                    <td td-data-table-cell>{{ historico.user.name }}</td>
                    <td td-data-table-cell>{{ historico.observacao}}</td>
                  </tr>
                </tbody>
              </table>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab class="form-control" label="Solicitação de Pagamento">
        <mat-card>
          <mat-card-header>Visualizar Ordem de Serviço</mat-card-header>
          <mat-card-content>
              <table td-data-table>
                  <thead>
                    <tr td-data-table-column-row>
                      <th td-data-table-column *ngFor="let column of configWidthColumns1" [sortable]="column.sortable" [name]="column.name">
                        {{ column.label }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr td-data-table-row *ngFor="let solicitacao of this.solicitacaoPagamentoDataSource">
                      <td td-data-table-cell>{{ solicitacao.dataVencimento | date:'dd/MM/yyyy'}}</td>
                      <td td-data-table-cell>{{ solicitacao.valorPagamento | currency:'BRL':true:'1.2-2'}}</td>
                    </tr>
                  </tbody>
                </table>
          </mat-card-content>
        </mat-card>
      </mat-tab>
  </mat-tab-group>
</div>