<td-layout>
    <td-navigation-drawer flex sidenavTitle="Menu" logo="assets:teradata">
      <mat-nav-list>
        <a mat-list-item><mat-icon>home</mat-icon>Contrato</a>
        <a mat-list-item><mat-icon>home</mat-icon>Ordem de Serviço</a>
      </mat-nav-list>
    </td-navigation-drawer>
    <td-layout-nav logo="assets:teradata" toolbarTitle="Sistema de Controle de Ordens de Serviço" navigationRoute="/">
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </td-layout-nav>
  </td-layout>
  
  

