.form-field-container {
    display: flex;
    flex-direction: column;
  }
  
.form-field-container > * {
    width: 100%;
  }

.form-control {
      size: 30px;
      width: 100%;
      height: 15px;
  }

.form-control-cliente {
    width: 420px;   
}
.div-mat-form-field-inline{
    display: inline-block;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }