.form-field-container {
    display: flex;
    flex-direction: column;
  }
  
.form-field-container > * {
    width: 100%;
  }

.form-control-cliente {
    width: 420px;   
}
.div-mat-form-field-inline{
    display: inline-block;
}