<div class="form-field-container">
  <div>
    <mat-card>
      <mat-card-content>
        <div class="div-mat-form-field-inline">
          <mat-form-field>
            <input class="form-control" matInput placeholder="Nº OS" type="text" [(ngModel)]="filtro.numeroOs" name="numeroOs">
          </mat-form-field>
          <mat-form-field>
            <input class="form-control" matInput placeholder="Nº Contrato" type="text" [(ngModel)]="filtro.numeroContrato" name="numeroContrato">
          </mat-form-field>
          <mat-form-field class="form-control-cliente">
            <input class="form-control-cliente" matInput placeholder="Nome do Cliente" type="text" [(ngModel)]="filtro.nomeCliente" name="nomeCliente">
          </mat-form-field>
          <button routerLink="/ordemdeservico/inserir" mat-button color="primary">Inserir OS
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="div-mat-form-field-inline">
          <mat-form-field>
            <mat-select placeholder="Status" [(ngModel)]="filtro.statusOrdem" name="statusOrdem">
              <mat-option *ngFor="let s of statusvalues" [value]="s">
                {{ s }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Prioridade" [(ngModel)]="filtro.prioridade" name="prioridade">
              <mat-option *ngFor="let p of prioridadevalues" [value]="p">
                {{ p }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input class="form-control" matInput placeholder="Valor Inicial" type="text" [(ngModel)]="filtro.valorIni" name="valorIni">
          </mat-form-field>
          <span> entre </span>
          <mat-form-field>
            <input class="form-control" matInput placeholder="Valor Final" type="text" [(ngModel)]="filtro.valorFin" name="valorFin">
          </mat-form-field>
          <button (click)="LimparFiltros()" mat-button color="primary">Limpar
            <mat-icon>clear</mat-icon>
          </button>
          <button (click)="onlistOrdemDeServicosByFilters()" mat-button color="primary">Buscar
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="dataAberturaIni" placeholder="Data Abertura Inicial" [(ngModel)]="filtro.dataAberturaIni"
              name="dataAberturaIni">
            <mat-datepicker-toggle matSuffix [for]="dataAberturaIni"></mat-datepicker-toggle>
            <mat-datepicker #dataAberturaIni></mat-datepicker>
          </mat-form-field>
          <span> à </span>
          <mat-form-field>
            <input matInput [matDatepicker]="dataAberturaFin" placeholder="Data Abertura Final" mat-reflect-format [(ngModel)]="filtro.dataAberturaFin"
              name="dataAberturaFin">
            <mat-datepicker-toggle matSuffix [for]="dataAberturaFin"></mat-datepicker-toggle>
            <mat-datepicker #dataAberturaFin></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="dataConclusaoIni" placeholder="Data Conclusão Inicial" [(ngModel)]="filtro.dataConclusaoIni"
              name="dataConclusaoIni">
            <mat-datepicker-toggle matSuffix [for]="dataConclusaoIni"></mat-datepicker-toggle>
            <mat-datepicker #dataConclusaoIni></mat-datepicker>
          </mat-form-field>
          <span> à </span>
          <mat-form-field>
            <input matInput [matDatepicker]="dataConclusaoFin" placeholder="Data Conclusão Final" [(ngModel)]="filtro.dataConclusaoFin"
              name="dataConclusaoFin">
            <mat-datepicker-toggle matSuffix [for]="dataConclusaoFin"></mat-datepicker-toggle>
            <mat-datepicker #dataConclusaoFin></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <div>
          <div class="table-container mat-elevation-z8">


            <table td-data-table>
              <thead>
                <tr td-data-table-column-row>
                  <th td-data-table-column *ngFor="let column of configWidthColumns" [sortable]="column.sortable" [name]="column.name">
                    {{ column.label }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr td-data-table-row *ngFor="let ordemDeServico of this.dataSource" [routerLink]="['/ordemdeservico/detail', ordemDeServico.id]">
                  <td td-data-table-cell>{{ ordemDeServico.status }}</td>
                  <td td-data-table-cell>{{ ordemDeServico.numeroOrdemDeServico }}</td>
                  <td td-data-table-cell>{{ ordemDeServico.contrato.numeroContrato }}</td>
                  <td td-data-table-cell>{{ ordemDeServico.dataAbertura | date:'dd/MM/yyyy'}}</td>
                  <td td-data-table-cell>{{ ordemDeServico.dataConclusao | date:'dd/MM/yyyy'}}</td>
                  <td td-data-table-cell>{{ ordemDeServico.valorOrdemDeServico }}</td>
                  <td td-data-table-cell fxLayoutAlign="end">
                    <button mat-icon-button matTooltip="Concluir Ordem de Serviço" (click)="OnUpdateOrdemDeServicoToConcluir(ordemDeServico); $event.stopPropagation()">
                      <mat-icon>adjust</mat-icon>
                    </button>
                    <button mat-icon-button (click)="OnInsertSolicitacaoPagamento(ordemDeServico); $event.stopPropagation()">
                      <mat-icon>reply</mat-icon>
                    </button>
                    <button mat-icon-button (click)="OnUpdateOrdemDeServicoToHomologar(ordemDeServico); $event.stopPropagation()">
                      <mat-icon>description</mat-icon>
                    </button>
                    <button mat-icon-button (click)="OnUpdateOrdemDeServicoToAprovar(ordemDeServico); $event.stopPropagation()">
                      <mat-icon>done</mat-icon>
                    </button>
                    <button mat-icon-button (click)="OnUpdateOrdemDeServicoToCancelar(ordemDeServico); $event.stopPropagation()">
                      <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-icon-button [routerLink]="['/ordemdeservico/editar', ordemDeServico.id]">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="OnRemoveOrdemDeServico(ordemDeServico.id); $event.stopPropagation()">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>





            <!-- <td-data-table [data]="dataSource" [columns]="configWidthColumns">

              <ng-template tdDataTableTemplate="acao" let-row="row">
                <button mat-raised-button [routerLink]="['/ordemdeservico/edit', row.id]">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button (click)="OnUpdateOrdemDeServicoToCancelar()">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-template>
            </td-data-table>
            <td-paging-bar #pagingBar [firstLast]="firstLast" [pageSize]="10" [total]="100" (change)="page($event)">

            </td-paging-bar> -->


          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>