<div fxLayout="row" and fxLayoutAlign="center">
  <mat-card>
    <mat-card-header>Cadastrar Ordem de Serviço</mat-card-header>
    <mat-card-content>
      <form #f="ngForm">
        <div>
          <mat-form-field>
            <input class="form-control" matInput placeholder="Nº OS" required [errorStateMatcher]="OrdemdeservicoInserirComponent" [(ngModel)]="ordemdeservico.numeroOrdemDeServico"
              name="numeroOrdemDeServico">
            <mat-error>Informe o Nº OS!</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input class="form-control" matInput placeholder="Nº Contrato" required [errorStateMatcher]="OrdemdeservicoInserirComponent"
              [(ngModel)]="ordemdeservico.contrato.numeroContrato" name="numeroContrato">
            <mat-error>Informe o Nº Contrato!</mat-error>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="openDialogContrato()">
            <mat-icon>search</mat-icon>
          </button>
          <mat-form-field>
            <input matInput [matDatepicker]="dataAbertura" placeholder="Data Abertura" required [errorStateMatcher]="OrdemdeservicoInserirComponent"
              [(ngModel)]="ordemdeservico.dataAbertura" name="dataAbertura">
            <mat-datepicker-toggle matSuffix [for]="dataAbertura"></mat-datepicker-toggle>
            <mat-datepicker #dataAbertura></mat-datepicker>
            <mat-error>Informe a Data de Abertura!</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="dataPrevisaoConclusao" placeholder="Data Previsão Conclusão" [(ngModel)]="ordemdeservico.dataPrevisaoConclusao"
              name="dataPrevisaoConclusao">
            <mat-datepicker-toggle matSuffix [for]="dataPrevisaoConclusao"></mat-datepicker-toggle>
            <mat-datepicker #dataPrevisaoConclusao></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-control-gestor">
            <input class="form-control-gestor" matInput placeholder="Gestor" required [errorStateMatcher]="OrdemdeservicoInserirComponent"
              [(ngModel)]="ordemdeservico.gestor.nome" name="nome">
            <mat-error>Informe o Gestor!</mat-error>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="openDialogGestor()">
            <mat-icon>search</mat-icon>
          </button>
          <mat-form-field>
            <mat-select placeholder="Prioridade" required [errorStateMatcher]="OrdemdeservicoInserirComponent" [(ngModel)]="ordemdeservico.prioridade"
              name="prioridade">
              <mat-option *ngFor="let p of prioridadevalues" [value]="p">
                {{ p }}
              </mat-option>
            </mat-select>
            <mat-error>Informe a Prioridade!</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-control-ordemdeservico">
            <textarea class="form-control-ordemdeservico" matInput placeholder="Descrição do Problema" required [errorStateMatcher]="OrdemdeservicoInserirComponent"
              [(ngModel)]="ordemdeservico.descricaoProblema" name="descricaoProblema"></textarea>
            <mat-error>Informe a Descrição do Problema!</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-control-ordemdeservico">
            <textarea class="form-control-ordemdeservico" matInput placeholder="Descrição da Solução" [(ngModel)]="ordemdeservico.descricaoSolucao"
              name="descricaoSolucao"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-control-ordemdeservico">
            <textarea class="form-control-ordemdeservico" matInput placeholder="Observação" [(ngModel)]="ordemdeservico.observacao" name="observacao"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input class="form-control"  
                   matInput placeholder="Valor Ordem de Serviço"
                   type="number" 
                   step="0.01" 
                   (ngModelChange)="ordemdeservico.valorOrdemDeServico=$event" 
                   [ngModel]="ordemdeservico.valorOrdemDeServico | number:'1.2-2'" name="valorOrdemDeServico">
          </mat-form-field>    
        </div>
        <div>
          <button (click)="onCancel()" class="button-confirmacao" mat-button color="primary">Cancelar
            <mat-icon>cancel</mat-icon>
          </button>
          <button (click)="onInsertOrdemDeServico()" class="button-confirmacao" mat-button color="primary" type="submit">Salvar
            <mat-icon>save</mat-icon>
          </button>
        </div>
        <br/>
        <br/>
        <span class="campo-obrigatorio">Campos obrigatórios(*)</span>
      </form>
    </mat-card-content>
  </mat-card>
</div>